Node_Red_SubscribeUI.json
[{"id":"b4ea7371.0cf8b8","type":"tab","label":"IoT Broker (Management System)","disabled":false,"info":"This flow has queues set up to record the following sent by MQTT:\nTemperature in the Equipment Room\nTemperature in the Growing Area\nHumidity in the Growing Area\nStatus of the heating and cooling system"},{"id":"ae97a24b.3878b","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9d4e27d4.94b88","type":"mqtt-broker","z":"","name":"IoT - Hub","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"17a28101.c168bf","type":"debug","z":"b4ea7371.0cf8b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":430,"y":100,"wires":[]},{"id":"5bbde47c.15a4d4","type":"mqtt in","z":"b4ea7371.0cf8b8","name":"Listener (Temp Equipment Room)","topic":"TempEquipRoom","qos":"2","broker":"9d4e27d4.94b88","x":160,"y":100,"wires":[["17a28101.c168bf"]]},{"id":"7086b596.2c339c","type":"debug","z":"b4ea7371.0cf8b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":180,"wires":[]},{"id":"2cbddba.e8843a4","type":"mqtt in","z":"b4ea7371.0cf8b8","name":"Listener (Temp Growing Area)","topic":"TempGrowArea","qos":"2","broker":"9d4e27d4.94b88","x":150,"y":180,"wires":[["7086b596.2c339c"]]},{"id":"b8260cd5.5e196","type":"mqtt in","z":"b4ea7371.0cf8b8","name":"Listener (Heater/Cooler)","topic":"HeatCoolStatus","qos":"2","broker":"9d4e27d4.94b88","x":130,"y":340,"wires":[["a6424c2d.866088"]]},{"id":"a6424c2d.866088","type":"debug","z":"b4ea7371.0cf8b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":340,"wires":[]},{"id":"50c5b3b8.be16ac","type":"mqtt in","z":"b4ea7371.0cf8b8","name":"Listener (Growing Area Humidity)","topic":"HumGrowArea","qos":"2","broker":"9d4e27d4.94b88","x":160,"y":260,"wires":[["dfe86010.98ee98"]]},{"id":"dfe86010.98ee98","type":"debug","z":"b4ea7371.0cf8b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":260,"wires":[]},{"id":"5b0a701b.c3b92","type":"mqtt in","z":"b4ea7371.0cf8b8","name":"Cooler On / Off","topic":"CoolerOnOff","qos":"2","broker":"9d4e27d4.94b88","x":100,"y":420,"wires":[["3ba6f279.42f366"]]},{"id":"3ba6f279.42f366","type":"debug","z":"b4ea7371.0cf8b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":340,"y":420,"wires":[]},{"id":"12c5daa1.13f7e5","type":"mqtt in","z":"b4ea7371.0cf8b8","name":"Heater On / Off","topic":"HeaterOnOff","qos":"2","broker":"9d4e27d4.94b88","x":100,"y":500,"wires":[["d1bc914.454137"]]},{"id":"d1bc914.454137","type":"debug","z":"b4ea7371.0cf8b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":320,"y":500,"wires":[]},{"id":"a70f0cee.02ea08","type":"mqtt in","z":"b4ea7371.0cf8b8","name":"Equipment Room Door Entry","topic":"DoorSecurity","qos":"2","broker":"9d4e27d4.94b88","x":140,"y":40,"wires":[["3128d290.d5cfe6"]]},{"id":"3128d290.d5cfe6","type":"debug","z":"b4ea7371.0cf8b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":40,"wires":[]}]
