Node_Red_SubscribeUI.json
[{"id":"b4ca1c52.8ffac","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"54f61727.30338","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094ce","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094ce","edited":true},"page-titlebar-backgroundColor":{"value":"#0094ce","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":44,"sy":44,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"369dce7c.8e9d02","type":"ui_tab","z":"","name":"IoT Monitor","icon":"dashboard","order":1},{"id":"a2107889.415248","type":"ui_group","z":"","name":"Temperature Readings","tab":"369dce7c.8e9d02","order":1,"disp":true,"width":"6","collapse":false},{"id":"d56317f9.8d9b2","type":"mqtt-broker","z":"","name":"IoT Broker","broker":"192.168.43.118","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"11a438a5.1c6c07","type":"ui_group","z":"","name":"Humidity Reading","tab":"369dce7c.8e9d02","order":2,"disp":true,"width":"6","collapse":false},{"id":"ea5601bd.bc648","type":"ui_group","z":"","name":"Heating and Cooler Status","tab":"369dce7c.8e9d02","order":3,"disp":true,"width":"6","collapse":false},{"id":"ec22f3a3.f61f9","type":"mqtt-broker","z":"","name":"Arduino","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"5852399.7bf6e48","type":"ui_text","z":"b4ca1c52.8ffac","group":"a2107889.415248","order":0,"width":0,"height":0,"name":"","label":"Equipment Room:","format":"{{msg.payload}}","layout":"row-spread","x":450,"y":220,"wires":[]},{"id":"e8413614.07b5e","type":"mqtt in","z":"b4ca1c52.8ffac","name":"Subscribe (Temp Equipment Room)","topic":"TempEquipRoom","qos":"2","broker":"d56317f9.8d9b2","x":160,"y":220,"wires":[["5852399.7bf6e48","1c60483d.c2aee"]]},{"id":"3f33d9cf.a0f7ee","type":"ui_text","z":"b4ca1c52.8ffac","group":"a2107889.415248","order":0,"width":0,"height":0,"name":"","label":"Growing Area","format":"{{msg.payload}}","layout":"row-spread","x":440,"y":300,"wires":[]},{"id":"a21eb300.70bf48","type":"mqtt in","z":"b4ca1c52.8ffac","name":"Subscribe (Temp Growing Area)","topic":"TempGrowArea","qos":"2","broker":"d56317f9.8d9b2","x":150,"y":300,"wires":[["3f33d9cf.a0f7ee","1c60483d.c2aee"]]},{"id":"fe373b03.d9fef8","type":"ui_text","z":"b4ca1c52.8ffac","group":"11a438a5.1c6c07","order":0,"width":0,"height":0,"name":"","label":"Growing Room","format":"{{msg.payload}}","layout":"row-spread","x":440,"y":380,"wires":[]},{"id":"78a0ae1.146785","type":"mqtt in","z":"b4ca1c52.8ffac","name":"Subscribe (Growing Area Humidity)","topic":"HumGrowArea","qos":"2","broker":"d56317f9.8d9b2","x":160,"y":380,"wires":[["fe373b03.d9fef8","b0890556.62d29"]]},{"id":"4362ece8.f1ba64","type":"ui_text","z":"b4ca1c52.8ffac","group":"ea5601bd.bc648","order":0,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":410,"y":460,"wires":[]},{"id":"6ff4aff5.0b77c8","type":"mqtt in","z":"b4ca1c52.8ffac","name":"Subscribe (Heater/Cooler)","topic":"HeatCoolStatus","qos":"2","broker":"d56317f9.8d9b2","x":130,"y":460,"wires":[["4362ece8.f1ba64"]]},{"id":"1c60483d.c2aee","type":"ui_chart","z":"b4ca1c52.8ffac","name":"","group":"a2107889.415248","order":0,"width":0,"height":0,"label":"Temperature Chart","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":750,"y":260,"wires":[[],[]]},{"id":"b0890556.62d29","type":"ui_chart","z":"b4ca1c52.8ffac","name":"","group":"11a438a5.1c6c07","order":0,"width":0,"height":0,"label":"Humidity Chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":750,"y":380,"wires":[[],[]]},{"id":"4721f788.f47b18","type":"ui_button","z":"b4ca1c52.8ffac","name":"","group":"ea5601bd.bc648","order":0,"width":0,"height":0,"passthru":false,"label":"Cooler On","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"CoolerOnOff","x":120,"y":580,"wires":[["31aaab76.d5b50c"]]},{"id":"31aaab76.d5b50c","type":"mqtt out","z":"b4ca1c52.8ffac","name":"Turn Cooler On / Off","topic":"CoolerOnOff","qos":"","retain":"","broker":"d56317f9.8d9b2","x":460,"y":580,"wires":[]},{"id":"60b65d77.d156cc","type":"ui_button","z":"b4ca1c52.8ffac","name":"","group":"ea5601bd.bc648","order":0,"width":0,"height":0,"passthru":false,"label":"Cooler Off","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"CoolerOnOff","x":130,"y":620,"wires":[["31aaab76.d5b50c"]]},{"id":"2c046b0a.95df3c","type":"ui_button","z":"b4ca1c52.8ffac","name":"","group":"ea5601bd.bc648","order":0,"width":0,"height":0,"passthru":false,"label":"Heater On","color":"","bgcolor":"Red","icon":"","payload":"1","payloadType":"str","topic":"","x":140,"y":680,"wires":[["dea3b470.e6b8e8"]]},{"id":"dea3b470.e6b8e8","type":"mqtt out","z":"b4ca1c52.8ffac","name":"Turn Heater On / Off","topic":"HeaterOnOff","qos":"","retain":"","broker":"d56317f9.8d9b2","x":460,"y":680,"wires":[]},{"id":"259fb7d8.5d0e3","type":"ui_button","z":"b4ca1c52.8ffac","name":"","group":"ea5601bd.bc648","order":0,"width":0,"height":0,"passthru":false,"label":"Heater Off","color":"","bgcolor":"Red","icon":"","payload":"0","payloadType":"str","topic":"HeaterOnOff","x":130,"y":740,"wires":[["dea3b470.e6b8e8"]]}]
